html
//
  CITATIONS
  CSS Periodic Table. (2018). CodePen. Retrieved 30 December 2018, from https://codepen.io/nemophrost/pen/EkImb
  https://www.etsy.com/listing/244858329/dr-warhols-periodic-table-of-microbes
  Warhol, J. (2018). Dr Warhol's Periodic Table of Microbes, The Small Guide to Small Things Kindle Edition. Warhol Institute, LLC

head
  link(href='periodicTable.css', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='/periodicAjax.js')


body
  .periodic
    .periodic-row
      .cell
        #id1.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
      .cell
      .cell
      .cell
        h1.title
          | Periodic Table of Microbes
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
        #id2.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id3.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id4.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
      .cell
      .cell
        .key
          // KEY ---------------------------
          .keyTitle
            h2
              | Periodic Table Key
          .column.gram-stain-col
            h3
              | GRAM STAIN
            div
              | (+) Gram Negative
            div
              | (+) Gram Positive
          .column.shape-col
            h3
              | SHAPE
            div
              | (R) rod
            div
              | (C) coccus
            div
              | (T) twisted, spiral, helix
            div
              | (B) branched
            div
              | (F) filaments
            div
              | (D) dimorphic
          .column.features-col
            h3
              | FEATURES
            div
              | (P) pathogen
            div
              | (W) water
            div
              | (S) soil
            div
              | (E) edibles
            div
              | (X) extreme
        // END KEY ---------------------------
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
        #id5.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id6.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id7.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id8.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id9.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id10.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id11.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id12.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
        #id13.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id14.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id15.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id16.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id17.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id18.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id19.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id20.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id21.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id22.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id23.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id24.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id25.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id26.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id27.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id28.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id29.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id30.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id31.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id32.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id33.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id34.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id35.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id36.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id37.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id38.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id39.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id40.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id41.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id42.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id43.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id44.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id45.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id46.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id47.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id48.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id49.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id50.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id51.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id52.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id53.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id54.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id55.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id56.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
      .cell
        #id57.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id58.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id59.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id60.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id61.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id62.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id63.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id64.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id65.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id66.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id67.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id68.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id69.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id70.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id71.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
        #id72.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id73.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
      .cell
        #id74.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id75.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id76.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id77.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id78.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id79.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id80.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id81.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id82.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id83.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id84.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id85.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id86.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id87.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id88.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
    .periodic-row
      .cell
      .cell
      .cell
      .cell
        #id89.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id90.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id91.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id92.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id93.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id94.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id95.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id96.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id97.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id98.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id99.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id100.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id101.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id102.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id103.element
          .at_num
          .symbol Sym
          .at_details Element
    .periodic-row
      .cell
      .cell
      .cell
      .cell
        #id104.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id105.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id106.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id107.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id108.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id109.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id110.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id111.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id112.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id113.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id114.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id115.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id116.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id117.element
          .at_num
          .symbol Sym
          .at_details Element
      .cell
        #id118.element
          .at_num
          .symbol Sym
          .at_details Element
    div(style='clear: both;')
